<!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="sparkline13-list">
      <div class="sparkline13-hd">
        <div class="main-sparkline13-hd">
          <h1><span class="table-project-n">Detail Transaksi</span></h1>
        </div>
      </div>
      <div class="sparkline13-hd">
        
      </div>
    </div>
  </div>
  </div> -->
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
  <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
    <ul id="myTabedu1" class="tab-review-design">
      <li>
        <h2>Detail Customer</h2>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
      <div class="product-tab-list tab-pane fade active in" id="description">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-content-section">
              <div class="row">
                <form action="#">
                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div class="content-profile">
                            <label class="login2">Nomor Order</label>
                          </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <label class="login2">:</label>
                          <label class="login2"><%= data[0].id_product.no_order%></label>
                          <!-- <input type="text" class="form-control" placeholder="Enter Email" /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <label class="login2">Informasi Pembeli</label>
                        </div>
                        <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"> -->
                        <!-- <label class="login2">:</label>
                          <label class="login2"><%= data[0].gender%></label> -->
                        <!-- <input type="password" class="form-control" placeholder="password" /> -->
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <label class="login2">Name/Phone Number</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <label class="login2">:</label>
                          <label class="login2"><%= data[0].id_customer.name %></label>
                          <!-- <input type="password" class="form-control" placeholder="password" /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <label class="login2">Nomor Telepon</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <label class="login2">:</label>
                          <label class="login2"><%= data[0].id_customer.no_telp %></label>
                          <!-- <input type="password" class="form-control" placeholder="password" /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <label class="login2">Alamat</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <label class="login2">:</label>
                          <label class="login2"><%= cus[0].address%></label>
                          <!-- <input type="password" class="form-control" placeholder="password" /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <label class="login2">Detail Order</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <label class="login2">:</label>
                          <label class="login2"><%= cus[0].address%></label>
                          <!-- <input type="password" class="form-control" placeholder="password" /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>