<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="sparkline12-list">
    <div class="sparkline12-hd">
      <div class="main-sparkline12-hd">
        <h1>Detail Transaksi</h1>
      </div>
    </div>
    <div class="sparkline12-graph">
      <div class="basic-login-form-ad">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="all-form-element-inner">
              <form action="#">
                <div class="col-lg-12">
                  <div class="form-group-inner">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="content-profile">
                          <label class="login2">Nomor Order</label>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <label class="login2">:</label>
                        <label class="login2"><%= trans[0].no_order%></label>
                        <!-- <input type="text" class="form-control" placeholder="Enter Email" /> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group-inner">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label class="login2">Informasi Pembeli</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group-inner">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label class="login2">Name</label>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <label class="login2">:</label>
                        <label class="login2"><%= trans[0].id_customer.name %></label>
                        <!-- <input type="password" class="form-control" placeholder="password" /> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group-inner">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label class="login2">Nomor Telepon/HP</label>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <label class="login2">:</label>
                        <label class="login2"><%= trans[0].id_customer.no_telp %></label>
                        <!-- <input type="password" class="form-control" placeholder="password" /> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group-inner">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label class="login2">Alamat</label>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <label class="login2">:</label>
                        <label class="login2"><%= cus[0].address%></label>
                        <!-- <input type="password" class="form-control" placeholder="password" /> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group-inner">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <label class="login2">Detail Order</label>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <label class="login2">:</label>
                        <!-- <label class="login2"><%= cus[0].address%></label> -->
                        <!-- <input type="password" class="form-control" placeholder="password" /> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group-inner">
                    <div class="row">
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="review-content-section">
                          <div class="chat-discussion" style="height: auto">
                            <%
                              for(var _index=0; _index < detail.length; _index++) {
                                var _detail = detail[_index];
                                %>
                            <div class="chat-message">
                              <div class="profile-hdtc">
                                <img class="message-avatar" src="/images/uploads/<%= _detail.id_product.gambar%>"" alt="">
                              </div>
                              <div class=" message">
                                <a class="message-author" href="#">
                                  <%= _detail.id_product.name%></a>
                                <!-- <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span> -->
                                <span class="message-content">
                                  <%= _detail.id_product.price%></span>
                                <span class="message-content">
                                  <%= _detail.quantity%></span>
                              </div>
                            </div>
                            <%}%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>