<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="sparkline13-list">
    <div class="sparkline13-hd">
      <div class="main-sparkline13-hd">
        <h1><span class="table-project-n">Status Pengiriman Barang</span></h1>
      </div>
    </div>
    <div class="sparkline13-hd">
      <table id="shipment" class="table table-bordered table-striped" width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama Toko</th>
            <th>Kode Transaksi</th>
            <th>Total</th>
            <th>Status</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <%
          for(var _index=0; _index < billing.length; _index++) {
              var _bill = billing[_index];
              
          %>

          <tr>
            <td>
              <%=_bill.id%>
            </td>
            <td>
              <%=_bill.name%>
            </td>
            <td>
              <%=_bill.code%>
            </td>
            <td>
              <%=_bill.total%>
            </td>
            <td>
              <%=_bill.status%>
            </td>
            <td> 
              <% if(_bill.status=="Belum dibayar"){%>
                <div style="float:left">
                    <!-- <button>Edit</button> -->
                    <a class="btn btn-warning" href="/confirmation/billing/<%=_bill.id_store%>">Konfirmasi</a> &nbsp;
                    <a class="btn btn-danger" href="/detail/billing/<%=_bill.id%>">Detail</a>
                  </div>
              <%}%>
              <% if(_bill.status=="Sudah dibayar"){%>
                <div style="float:left">
                    <!-- <button>Edit</button> -->
                    <a class="btn btn-danger" href="/detail/billing/<%=_bill.id%>">Detail</a>
                  </div>
              <%}%>
            </td>
          </tr>
          <%}%>

              </tbody>
          </table>
      </div>
  </div>
</div>