<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <div class="profile-info-inner">
    <div class="profile-img">
      <img src="/images/uploads/<%= customer[0].image%>" alt="<%= customer[0].image%>" />
    </div>
  </div>
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
  <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
    <ul id="myTabedu1" class="tab-review-design">
      <li>
        <h2>Detail Customer</h2>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
      <div class="product-tab-list tab-pane fade active in" id="description">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="review-content-section">
              <div class="row">
                <form action="#">
                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div class="content-profile">
                            <label class="login2">Nama</label>
                          </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <label class="login2">:</label>
                          <label class="login2"><%= customer[0].name%></label>
                          <!-- <input type="text" class="form-control" placeholder="Enter Email" /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <label class="login2">Jenis Kelamin</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <label class="login2">:</label>
                          <label class="login2"><%= customer[0].gender%></label>
                          <!-- <input type="password" class="form-control" placeholder="password" /> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <label class="login2">Nomor Telepon</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <label class="login2">:</label>
                          <label class="login2"><%= customer[0].no_telp%></label>
                          <!-- <input type="password" class="form-control" placeholder="password" /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <label class="login2">Email</label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                          <label class="login2">:</label>
                          <label class="login2"><%= customer[0].id_user.email%></label>
                          <!-- <input type="password" class="form-control" placeholder="password" /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>